.flexContainer {
    display: flex;
}

.flexChild {
    border: 2px solid black;
}  

.flexChild:nth-of-type(1) {
    margin-right: 20px;
    flex: 0;
}

.flexChild:nth-of-type(2) {
    margin-right: 20px;
    flex: 1;
}
